<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>liars lie still</title>
    <link rel="stylesheet" href="styles.css">
</head>
    <body>
        <div id="eye">
            <img src="{{ url_for('static', filename='pinnochio_logo.png') }}" alt="">
        </div>
        <a id="download-link" class="terminal-text" href="{{ url_for('static', filename='a_small_note.txt') }}" download>There's more to Pinocchio than meets the eye.</a>
        <form method="POST" action="/">
            <div id="input-box">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Login</button>
            </div>
            <div class="center-container">
                <p class="terminal-text prompt">&gt;</p><p class="terminal-text typing"> I like the way you lie, boy. </p>      
            </div>        
        </form>
    </body>
</html>
